*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo_div{  
  display:flex;
  justify-content: space-between;
  max-width:1220px;
  margin: 0 auto;
}
.logo_links{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  width:30%;
}
.location{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  width:35%;
}

.link{
  text-decoration: none;
  font-weight: 700;
  font-size:15px;
}
.link:hover{
  color:#006241;
}
.logo{
  width:100px;  
}
nav{
  padding:10px 0;
  box-shadow: -1px -4px 5px 0px rgba(87,83,83,0.38) inset;
}
.sign_in,.join_now{
  padding: 7px 15px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #ffff;
  cursor: pointer;
}
.sign_in:hover{
  background-color: rgb(221, 219, 219);
}
.join_now{
  background-color: black;
  color: white;
  font-weight: 600;
}
.join_now:hover{
  opacity: 0.7;
}
.location_store{
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.location_store:hover{
  color:#006241;
}
.fa-solid .fa-location-dot{
  display: block;
  cursor: pointer;
}
.fa-location-dot:hover{
  color:#006241;
}

/* MAIN */
.adventure,.baristas,.frappuccino,.sunshine{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 550px;
}
.adventure_find,.baristas_text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #006241;
  color: white;
}
.adventure_heading{
  width: 60%;
  margin:100px 0 30px 0;
  text-align: center;
  color: inherit;
  font-size: 50px;
  letter-spacing: 3px;
}
.adventure_para,.baristas_para,.frappuccino_para,.sunshine_para{
  color: inherit;
  font-size: 24px;
  font-weight: 400px;
  width: 70%;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
}
.baristas_para{
  width:69%;
}
.adventure_button,.barista_btn,.frappuccino_btn{
  padding: 10px 20px;
  border-radius: 20px;
  border:1px solid white;
  background-color: #006241;
  font-weight:600;
  color: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.adventure_button:hover{
  background-color: #024730;
}
.barista_btn:hover{
  background-color: #024730;
}
.adventure_game_img,.barista_img,.frappuccino_img,.ice_drinks_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.baristas_heading,.frappuccino_heading,.sunshine_heading{
  width: 75%;
  margin:50px 0 30px 0;
  text-align: center;
  color: inherit;
  font-size: 50px;
  letter-spacing: 3px;
}
.frappuccino_text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #D4E9E2;
}
.frappuccino_heading{
  color: #1E3932;
  margin:120px 0 30px 0;
  letter-spacing:0;
}
.frappuccino_para,.sunshine_para{
  color: #1E3932;
}
.frappuccino_btn{
  background-color: #D4E9E2;
  color: #1E3932;
  border: 1px solid #1E3932;
}
.frappuccino_btn:hover{
  background-color: #becfc9;
}
.sunshine_text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #EB81A5;
}
.sunshine_heading{
  color: #1E3932;
  margin:90px 0 30px 0;
  letter-spacing:3;
}
